* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

.header {
  background-color: #4CAF50;
  color: rgb(136, 58, 58);
  padding: 20px;
  border: 2px solid #333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  background-color: #1B5E20;
  color: white;
  padding: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}

.titulo-header {
  flex: 1;
  text-align: center;
  font-size: 2em;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.nav li {
  display: inline-block;
}

.nav button {
  background-color: #388E3C;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nav button:hover {
  background-color: #2C6B2F;
}

.main {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #8aee17;
}

.section {
  background-color: #2196F3;
  color: white;
  padding: 15px;
  border: 2px solid #0D47A1;
}

.article {
  background-color: #64B5F6;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #0D47A1;
}

.picture {
  background-color: #947308;
  margin-top: 10px;
  padding: 10px;
  border: 2px dashed #FFA000;
  text-align: center;
}

.video {
  background-color: #E57373;
  margin-top: 10px;
  padding: 10px;
  border: 2px dashed #C62828;
  text-align: center;
}

.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.card:nth-child(1) { background-color: #e74c3c; }
.card:nth-child(2) { background-color: #3498db; }
.card:nth-child(3) { background-color: #2ecc71; }
.card:nth-child(4) { background-color: #f1c40f; }

.aside {
  flex: 1;
  background-color: #FF9800;
  color: white;
  padding: 15px;
  border: 2px solid #E65100;
}

.footer {
  background-color: #607D8B;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #37474F;
}
